{
    "root": true,
    "extends": [
        "plugin:vue/recommended",
        "prettier/vue",
        "airbnb",
        "prettier"
    ],
    "parserOptions": {
        "parser": "babel-eslint",
        "sourceType": "module"
    },
    "plugins": [
        "prettier",
        "html"
    ],
    "rules": {
        "prettier/prettier": [
            "error"
        ],
        "no-unused-vars": [
            "error",
            {
                "vars": "all",
                "args": "after-used",
                "ignoreRestSiblings": false
            }
        ]
    }
}
